@import "tailwindcss";
body {
  margin-left:150px;
  margin-right:150px;
  margin-bottom:50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f4f6;
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}
