html, body {
  max-width: 100%;
  overflow-x: hidden;
}


/* Desktop container spacing */
@media (min-width: 1025px) {
  body {
    padding: 0 120px;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  body {
    padding: 0 40px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  body {
    padding: 0 12px;
  }
}
